<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>covid-plz</display-name>

	<context-param>
		<param-name>logbackDisableServletContainerInitializer</param-name>
		<param-value>true</param-value>
	</context-param>

	<listener>
		<listener-class>de.mobanisto.covidplz.InitListener</listener-class>
	</listener>

</web-app>
